<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card border-0 mb-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
          <div class="btn-wrapper text-center">
            <button (click)="login()" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="https://www.pngfind.com/pngs/m/8-80848_png-file-svg-facebook-icon-png-free-download.png"></span>
              <span class="btn-inner--text">Facebook</span>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
