<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">Pages</h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col" class="sort" data-sort="id">ID</th>
              <th scope="col" class="sort" data-sort="name">Name</th>
              <th scope="col" class="sort" data-sort="category">category</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="list">

            <tr *ngFor="let account of accounts">
              <th scope="row">
                <div class="media-body">
                  <span class="name mb-0 text-sm">{{account.id}}</span>
                </div>
              </th>
              <th scope="row">
                <div class="media-body">
                  <span class="name mb-0 text-sm">{{account.name}}</span>
                </div>
              </th>
              <th scope="row">
                <div class="media-body">
                  <span class="name mb-0 text-sm">{{account.category}}</span>
                </div>
              </th>
              <td class="text-right">
                <a class="btn btn-sm btn-primary mr-1" routerLink="edit/{{account.id}}">Edit</a>
              </td>
            </tr>
            <tr *ngIf="!accounts">
              <th scope="row">
                <div class="media-body">
                  <span class="name mb-0 text-sm">No pages available.</span>
                </div>
              </th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
